@page
@model TMA3A.Pages.part4.ComponentListModel
@{
    ViewData["Title"] = @ViewData["component_type"];
}
@using Microsoft.AspNetCore.Http
@using TMA3A.Pages.part4.Models;



<div class="text-center">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <img src="/images/part3/icon.png" class="webstoreIcon" alt="icon" />
            <a class="navbar-brand" asp-area="" asp-page="/part4/part4">iWebstore</a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/part4">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Store">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Delivery">Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/ContactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Policies">Policies</a>
                    </li>
                </ul>
            </div>
            <a asp-page="/part4/Cart" asp-page-handler="load">
                <img src="/images/part3/cart.jpg" class="webstoreIcon">
            </a>
            <a asp-page="/part4/Login" asp-page-handler="load">
                <img src="/images/part4/user.png" style="width: 30px; height: 30px;">
            </a>

        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <h3>@ViewData["component_type"] Catalogue</h3>
            <br />
            <div class="row">
                @foreach (var comp in @Model.components0)
                {
                    <div class="col-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5 class="my-0 font-weight-normal">
                                    <label>@comp.Name</label>
                                </h5>
                            </div>
                            <img src="@comp.Image" alt="Card Image" class="card-img-top" style="height: 300px;" />
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <label style="font-size: 20px;"><b>Price : @comp.Price</b></label>
                                    </div>
                                    <a asp-page="/part4/Cart" asp-page-handler="buynow" asp-route-id="@comp.Id" asp-route-name="@comp.Name" class="btn pull-right btn-outline-info">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </main>
    </div>

    <div class="border-top webstoreFooter">
        <br />
        &copy; 2021 - iWebstore. All rights reserved.
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a asp-area="" asp-page="/part4/ContactUs" class="text-muted">Contact Us</a>
        |
        <a asp-area="" asp-page="/part4/Delivery" class="text-muted">Delivery</a>
        |
        <a asp-area="" asp-page="/part4/Policies" class="text-muted">Policies</a>
    </div>
</div>
